#header{
    background-color: rgb(225, 226, 207);
    justify-content: center;
}
#menu{
    background-color:rgb(223, 199, 199);
    width: 25%;
    margin: 0 2.5%;
    float: left;
}
#main{
    background-color: rgb(255, 255, 255);
    width: 67.5%;
    margin: 0 2.5% 0 0;
    float: left;
}
#footer{
    clear: left;
    background-color: rgb(255, 199, 143);
    padding-left: 15px;
}
.menulist{
    background-color:rgb(235, 240, 225);
    font-weight: bold;
    margin: 1% 9%;
    color: rgb(38, 43, 33);
}

p#title{
    font-weight: bold;
    font-size: large;
    text-align: center;
}
p#abtract{
    font-style: italic;
    text-align: justify;
    padding: 0 5%;
}

p{
    padding: 0 5%;
    text-align: justify;
}
img{
    width: 50%;
    margin: 1% 5%;
}
a{
    color:rgb(17, 18, 17);
    text-decoration: none;
}
a:hover{
    color: rgb(245, 9, 9);
}

a.menu{
    color:rgb(21, 22, 20);
}

table#userRegistration{
    margin: auto;
    width: 70%;
    background-color: beige;
    padding: 0.5%;
}

th#userTH{
    background-color: bisque;
    color: rgb(249, 6, 6);
    font-weight: bold;
}

tr#userRegistration{
    text-align: center;
}

td.tbDetail{
    padding-left: 1%;
}

table#tbLogin{
    margin: auto;
    width: 40%;
    background-color: beige;
    border-radius: 1%;
    padding: 0.5%;
}

th#thAddProduct{
    text-align: center;
    font-size: large;
    color: rgb(255, 149, 0);
    background-color: bisque;
}

td#btnAddProduct{
    text-align: center;
    padding-top: 2%;
}